biopython==1.79
click==8.0.1
dnspython==2.1.0
dominate==2.6.0
email-validator==1.1.3
ete3==3.1.2
Flask
flask_admin
flask-user
Flask-Bootstrap==3.3.7.1
Flask-JSGlue==0.3.1
flask-mongoengine==1.0.0
Flask-Uploads==0.2.1
Flask-WTF==0.15.1
idna==3.2
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mongoengine==0.23.1
numpy>=1.19
pandas
pillow===8.3.2
pymongo==3.12.0
pyqt5
regex==2021.9.30
typing-extensions==3.10.0.2
visitor==0.1.3
werkzeug==0.16.1
WTForms==2.3.3
zipp==3.6.0
